# Vaiables in python
Python is weakly typed language due to the following two reasons
* All variables do not need to be stated before use
* The type of vaiables could be changed

## 1. Coments

In [1]:
# This is a sample comments
print("hello World!")

hello World!

In [2]:
'''
This is for multiple lines comments
it is really simple
'''

# print('this line has been commented, would not be executed')

'\nThis is for multiple lines comments\nit is really simple\n'

## 2. Variables

### 2.1 Weakly typed Language

In [3]:
a = 5
a

5

In [4]:
a = 'Hello,Charlie'
a

'Hello,Charlie'

In [5]:
type(a)

str

### 2.2 Using `print()` to print the output

In [6]:
user_name = 'Charlie'
user_age = 8
print("Reader name:",user_name, "Age:",user_age)

Reader name: Charlie Age: 8

**Using the given characters as the delimiter**

In [7]:
print("Reader name:",user_name, "Age:",user_age,sep= '|')

Reader name:|Charlie|Age:|8

**Setting the end parameter**

In [8]:
print(40,'\t',end = '')
print(50,'\t',end = '')

40 	50

**Print the output into a file**

In [9]:
f = open('poem.txt',"w") 
print('In the end she just wanted the house',file = f)
print('and a horse not much more what',file = f)
print('if  he didn’t own the house or worse',file = f)
print('not even a horse how do we',file = f)
f.close()

### 2.3 The naming rule for variables
* It could contain numbers, letters, underline. but not start with numbers.
* Could not contain space
* Could not be reserved characters of python, such as False

## 3. Numeric Type

### 3.1 int type
The int type variables in python have four forms
* Decimal Number
* Binary Number: Start with `'0b'` or `'0B'`
* Octal Number: Start with `'0o'` or `'0O'`
* Hex Number: Start with `'0x'` or `'0X'`, and use `a~f` to represent 10-15

In [10]:
a = 56
print(a)
# set a as a very large number
a = 9999999999999999999999
print(a)
print(type(a))

56
9999999999999999999999
<class 'int'>

In [11]:
hex_value1 = 0x13
bin_val = 0b111
oct_val = 0o54
print('Binary Number:',bin_val)
print('Hex Number:',hex_value1)
print('Octal Number:',oct_val)

Binary Number: 7
Hex Number: 19
Octal Number: 44

In [12]:
one_million = 1_000_000
print(one_million)

1000000

### 3.2 Float type

In [13]:
af1 = 5.234556
print(af1)
af2 = 25.2345
print(af2)
print(type(af2))

5.234556
25.2345
<class 'float'>

In [14]:
f1 = 5.12e2
f2 = 5e3
print('f1:',f1,'Type:',type(f1))
print('f2:',f2,'Type:',type(f2))

f1: 512.0 Type: <class 'float'>
f2: 5000.0 Type: <class 'float'>

## 4. String

### 4.1 String and Escape character

In [15]:
str1 = 'Charlie'
str2 = 'GIS'
print(str1,str2)

Charlie GIS

In [16]:
str3 = "I'm a coder"
str4 = '"Spring is here, let us jam",said woodchunk'
str5 = '"We are scared, let\'s hide inthe shade", says the bird'
print(str3)
print(str4)
print(str5)

I'm a coder
"Spring is here, let us jam",said woodchunk
"We are scared, let's hide inthe shade", says the bird

**If you type 2 strings close with each other, python would merge them automatically**

In [17]:
s1 = "Hello," 'Charlie'
print(s1)

Hello,Charlie

In [18]:
s2 = "Python "
s3 = "is funny"
s4 = s2 + s3
print(s4)

Python is funny

### 4.2 `repr()` and `str()`
Python does not allow us to combine numeric type with strings, for doing that, we should use `repr()` or `str()` to transfer numeric to string.

In [19]:
s1 = 'The price of this book is:'
p = 99.8
# Could not work
print(s1 + p)

TypeError: can only concatenate str (not "float") to str

In [20]:
print(s1 + str(p))

The price of this book is:99.8

In [21]:
print(s1 + repr(p))

The price of this book is:99.8

**`repr` would also transfer strings to a expression**

In [22]:
st = 'I love python'
print(st)
print(repr(st))

I love python
'I love python'

### 4.4 `Input` & `raw_input` [raw_input only work for python 2.x]

In [23]:
msg = input('Please input the message: ')
print(type(msg))
print(msg)

Please input the message:
<class 'str'>

In [24]:
msg = input('Please input the message: ')
print(type(msg))
print(msg)

Please input the message:
<class 'str'>

### 4.5 Long String

In [25]:
s = '''"Let's go fishing ",said Mary.
"OK, Let's go",said her brother.
they walked to a lake'''
print(s)

"Let's go fishing ",said Mary.
"OK, Let's go",said her brother.
they walked to a lake

In [26]:
s2 = 'The quick brown fox \
jumps over the lazy dog'
print(s2)

The quick brown fox jumps over the lazy dog

In [27]:
num = 20 + 3 / 4 + \
    2 * 3
print(num)

26.75

### 4.6 Raw String
**Raw string start with "r", within this string, "\" could not be treated as escape characters.**

In [28]:
s1 = r'G:\publish\codes\02\2.4'
print(s1)

G:\publish\codes\02\2.4

In [29]:
s2 = r'"Let\'s go", said Charlie'
print(s2)

"Let\'s go", said Charlie

In [30]:
s3 = r'Good Morning' '\\'
print(s3)

Good Morning\

### 4.7 bytes
bytes only store binary data, so it could be utilized to store and transfer files, such as images and musics.

In [31]:
# Create a empty bytes
b1 = bytes()
# Create a bytes with empty value
b2 = b''
b3 = b'hello'
print(b3)
print(b3[0])
print(b3[2:4])

b'hello'
104
b'll'

**Convert string into bytes**

In [32]:
b4 = bytes('I love Python Programming', encoding='utf-8')
print(b4)

b'I love Python Programming'

In [33]:
b5 = 'Python is funny'.encode('utf-8')
print(b5)

b'Python is funny'