## 4. Dictionary

### 4.1 Create Dictionary
* Key could be tuple but not list!

In [1]:
scores = {'literature':89, 'Math': 92, 'English': 93}
print(scores)

{'literature': 89, 'Math': 92, 'English': 93}

In [2]:
empty_dict = {}
print(empty_dict)

{}

In [3]:
dict2 = {(20,30):'good',30:'bad'}
print(dict2)

{(20, 30): 'good', 30: 'bad'}

**Transfer List to Dictionary**

In [4]:
vegetables = [('celery',1.58),('brocoli',1.29),('lettuce',2.19)]
dict3 = dict(vegetables)
print(dict3)

{'celery': 1.58, 'brocoli': 1.29, 'lettuce': 2.19}

In [5]:
cars = [['BMW',8.5],['BENS',8.3],['AUDI',7.9]]
dict4 = dict(cars)
print(dict4)

{'BMW': 8.5, 'BENS': 8.3, 'AUDI': 7.9}

In [6]:
dict5 = dict(spinach = 1.39, cabbage = 2.59)
print(dict5)

{'spinach': 1.39, 'cabbage': 2.59}

### 4.2 Basic Usage of Dictionary
* Use key to access value
* Use key to add key-value record
* Use key to delete key-value record
* Use key to modify key-value record
* Use key to search key-value

In [7]:
scores

{'literature': 89, 'Math': 92, 'English': 93}

In [8]:
print(scores['Math'])

92

In [9]:
scores['History'] = 88
print(scores)

{'literature': 89, 'Math': 92, 'English': 93, 'History': 88}

In [10]:
del scores['English']
print(scores)

{'literature': 89, 'Math': 92, 'History': 88}

In [11]:
scores['Math'] = 99
print(scores)

{'literature': 89, 'Math': 99, 'History': 88}

In [13]:
print('literature' in scores)
print('gym' not in scores)

True
True

### 4.3 Functions of Dictionary
**`clear()`**

In [14]:
cars

[['BMW', 8.5], ['BENS', 8.3], ['AUDI', 7.9]]

In [15]:
cars.clear()
print(cars)

[]

**`get()`: get values based on key**

In [16]:
scores

{'literature': 89, 'Math': 99, 'History': 88}

In [17]:
scores.get('Math')

99

In [19]:
print(scores.get('gym'))

None

**`update()`**

In [20]:
scores.update({'History':89, 'English':91})
print(scores)

{'literature': 89, 'Math': 99, 'History': 89, 'English': 91}

**`items()`: get all key-value record**   
**`keys()`: get all keys**   
**`values()`: get all values**

In [21]:
subjects = scores.items()
print(subjects)
print(type(subjects))

dict_items([('literature', 89), ('Math', 99), ('History', 89), ('English', 91)])
<class 'dict_items'>

In [22]:
kys = scores.keys()
print(type(kys))
print(kys)

<class 'dict_keys'>
dict_keys(['literature', 'Math', 'History', 'English'])

In [24]:
vals = scores.values()
print(type(vals))
print(vals)

<class 'dict_values'>
dict_values([89, 99, 89, 91])

**`pop()` and `popitem()`**

In [25]:
scores

{'literature': 89, 'Math': 99, 'History': 89, 'English': 91}

In [26]:
print(scores.pop('English'))
print(scores)

91
{'literature': 89, 'Math': 99, 'History': 89}

In [27]:
print(scores.popitem())
print(scores)

('History', 89)
{'literature': 89, 'Math': 99}

In [28]:
k,v = scores.popitem()
print(k,v)

Math 99

**`setdefault()` and `fromkeys()`**
* `setdefault()` Return the value of given key, if given key not exist in the origin dictionary, would return the given value.
* `fromkeys()` Create dictionary from given list, using the elements from list as keys

In [29]:
cars = {'BMW':8.5, 'BENS':8.3, 'AUDI':7.9}
print(cars.setdefault('PORSCHE',9.2))
print(cars)

9.2
{'BMW': 8.5, 'BENS': 8.3, 'AUDI': 7.9, 'PORSCHE': 9.2}

In [30]:
print(cars.setdefault('BENS',8.2))
print(cars)

8.3
{'BMW': 8.5, 'BENS': 8.3, 'AUDI': 7.9, 'PORSCHE': 9.2}

In [31]:
a_dict = dict.fromkeys(['a','b'])
print(a_dict)

{'a': None, 'b': None}

In [32]:
b_dict = dict.fromkeys((13,17))
print(b_dict)

{13: None, 17: None}

In [33]:
c_dict = dict.fromkeys((13,17),'good')
print(c_dict)

{13: 'good', 17: 'good'}

### 4.4 Using dictionary to format string

In [35]:
temp = 'book name is %(name)s, price is %(price)06.2f, published by %(publish)s'
book = {'name':'Crazy Python','price':78.9,'publish':'who cares'}
print(temp % book)

book name is Crazy Python, price is 078.90, published by who cares

In [36]:
book = {'name':'Crazy JAVA','price':88.9,'publish':'I do not know'}
print(temp % book)

book name is Crazy JAVA, price is 088.90, published by I do not know