# List and Tuple
## 1. Create List and Tuple

In [1]:
my_list = ['crazyit',20,'Python']
print(my_list)

['crazyit', 20, 'Python']

In [2]:
my_tuple = ('crazyit',20,'Python')
print(my_tuple)

('crazyit', 20, 'Python')

## 2. Usage of List and Tuple

### 2.1 Using index

In [3]:
a_tuple = ('crazyit',20,5.6,'fkit',-17)
print(a_tuple)
print(a_tuple[0])
print(a_tuple[1])
print(a_tuple[-1])

('crazyit', 20, 5.6, 'fkit', -17)
crazyit
20
-17

### 2.2 Sublist (equal to `slice()` )

In [4]:
a_tuple

('crazyit', 20, 5.6, 'fkit', -17)

In [5]:
print(a_tuple[1:3])

(20, 5.6)

In [6]:
print(a_tuple[-3:-1])
print(a_tuple[1:-2])

(5.6, 'fkit')
(20, 5.6)

In [7]:
print(a_tuple[1:5:2])

(20, 'fkit')

### 2.3 Addition

In [8]:
a_tuple = ('crazyit',20,-1.2)
b_tuple = (127,'crazyit','fkit',3.33)
sum_tuple = a_tuple + b_tuple
print(sum_tuple)
print(a_tuple)
print(b_tuple)

('crazyit', 20, -1.2, 127, 'crazyit', 'fkit', 3.33)
('crazyit', 20, -1.2)
(127, 'crazyit', 'fkit', 3.33)

In [9]:
print(a_tuple + (-20,-30))

('crazyit', 20, -1.2, -20, -30)

In [10]:
a_list = [20,30,50,100]
b_list = ['a','b','c']
sum_list = a_list + b_list
print(sum_list)
print(a_list + ['fkit'])

[20, 30, 50, 100, 'a', 'b', 'c']
[20, 30, 50, 100, 'fkit']

### 2.4 Multiply

In [11]:
a_tuple

('crazyit', 20, -1.2)

In [12]:
mul_tuple = a_tuple * 3
print(mul_tuple)

('crazyit', 20, -1.2, 'crazyit', 20, -1.2, 'crazyit', 20, -1.2)

In [13]:
a_list = [30,'Python',2]
mul_list = a_list * 3
print(mul_list)

[30, 'Python', 2, 30, 'Python', 2, 30, 'Python', 2]

**Example for adding ending of date**

In [14]:
order_endings = ('st','nd','rd')\
    + ('th',) * 17 + ('st','nd','rd')\
    + ('th',) * 7 + ('st',)
print(order_endings)

('st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'st')

In [15]:
day = input("please enter a date(1-31)")
day_int = int(day)
print(day + order_endings[day_int -1])

please enter a date(1-31)15
15th

### 2.5 Usage of `in`

In [16]:
a_tuple = ('crazyit',20,-1.2)
print(20 in a_tuple)
print(1.2 in a_tuple)
print('fkit' not in a_tuple)

True
False
True

### 2.6 Length, `max()` and `min()`

In [17]:
a_tuple = (20,10,-2,15.2,102,50)
print(max(a_tuple))
print(min(a_tuple))
print(len(a_tuple))

102
-2
6

In [18]:
b_list = ['crazyit','fkit','Python','Kotlin']
print(max(b_list))
print(min(b_list))
print(len(b_list))

fkit
Kotlin
4

### 2.7 Sequnce Packing and Unpacking
* When you assgin multiple value to a single variable, python would pack those values into a tuple, this called sequnce packing
* When you assgin one sequnce to multiple variables, python would unpack the sequnce and assgin value respectively

In [19]:
vals = 10,20,30
print(vals)
print(type(vals))
print(vals[1])

(10, 20, 30)
<class 'tuple'>
20

In [20]:
a_tuple = tuple(range(1,10,2))
a_tuple

(1, 3, 5, 7, 9)

In [21]:
a,b,c,d,e = a_tuple
print(a,b,c,d,e)

1 3 5 7 9

In [22]:
xyz = 10,20,30
x,y,z = xyz
print(xyz)
print(x,y,z)

(10, 20, 30)
10 20 30

In [23]:
x,y,z = y,z,x
print(x,y,z)

20 30 10

**Using "\*" to represent the variable as a list**

In [24]:
first,second,*rest = range(10)
print(first)
print(second)
print(rest)

0
1
[2, 3, 4, 5, 6, 7, 8, 9]

## 3. Application of List and Tuple
The element in the tuple is not changeable, but in the list could.

### 3.1 Create List

In [25]:
a_tuple = ('crazyit',20,-1.2)
a_list = list(a_tuple)
print(a_list)

['crazyit', 20, -1.2]

In [26]:
a_range = range(1,5)
print(a_range)
b_list = list(a_range)
print(b_list)

range(1, 5)
[1, 2, 3, 4]

In [27]:
c_list = list(range(4,20,3))
print(c_list)

[4, 7, 10, 13, 16, 19]

**Create Tuple**

In [28]:
a_list = ['crazyit',20,-1.2]
a_tuple = tuple(a_list)
print(a_tuple)

('crazyit', 20, -1.2)

In [29]:
a_range

range(1, 5)

In [30]:
b_tuple = tuple(a_tuple)
print(b_tuple)

('crazyit', 20, -1.2)

In [31]:
c_tuple = tuple(range(4,20,3))
print(c_tuple)

(4, 7, 10, 13, 16, 19)

### 3.2 Add elements to list
* `append()`
* `extend()`
* `insert()`

In [32]:
a_list = ['crazyit',20,-2]
a_list.append('fkit')
print(a_list)

['crazyit', 20, -2, 'fkit']

In [33]:
a_tuple = (3.4,5.6)
a_list.append(a_tuple)
print(a_list)

['crazyit', 20, -2, 'fkit', (3.4, 5.6)]

In [34]:
a_list.append(['a','b'])
print(a_list)

['crazyit', 20, -2, 'fkit', (3.4, 5.6), ['a', 'b']]

In [35]:
b_list = ['a',30]
b_list.extend((-2,3.1))
print(b_list)

['a', 30, -2, 3.1]

In [36]:
b_list.extend(['C','R','A'])
b_list

['a', 30, -2, 3.1, 'C', 'R', 'A']

In [37]:
b_list.extend(range(97,100))
b_list

['a', 30, -2, 3.1, 'C', 'R', 'A', 97, 98, 99]

In [38]:
c_list = list(range(1,6))
print(c_list)
c_list.insert(3,'CRAZY')
print(c_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 'CRAZY', 4, 5]

In [39]:
c_list.insert(3,tuple('crazy'))
print(c_list)

[1, 2, 3, ('c', 'r', 'a', 'z', 'y'), 'CRAZY', 4, 5]

### 3.3 Delete elements from list
* `del` express
* `clear()`

In [40]:
a_list = ['crazyit',20,-2.4,(3,4),'fkit']
del a_list[2]
print(a_list)

['crazyit', 20, (3, 4), 'fkit']

In [41]:
del a_list[1:3]
print(a_list)

['crazyit', 'fkit']

In [42]:
b_list = list(range(1,10))
b_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
del b_list[2:-2:2]
b_list

[1, 2, 4, 6, 8, 9]

In [44]:
name = 'crazyit'
print(name)
del name
print(name)

crazyit

NameError: name 'name' is not defined

In [45]:
c_list = [20,'crazyit',30,-4,'crazyit',3.4]
c_list.remove(30)
c_list

[20, 'crazyit', -4, 'crazyit', 3.4]

In [46]:
c_list.remove('crazyit')
c_list

[20, -4, 'crazyit', 3.4]

In [47]:
c_list.clear()
c_list

[]

### 3.4 Change the elements in list

In [48]:
a_list = [2,4,-3.4,'crazyit',23]
a_list[2] = 'fkit'
print(a_list)

[2, 4, 'fkit', 'crazyit', 23]

In [49]:
a_list[-2] = 9527
print(a_list)

[2, 4, 'fkit', 9527, 23]

In [50]:
b_list = list(range(1,5))
print(b_list)
b_list[1:3] = ['a','b']
print(b_list)

[1, 2, 3, 4]
[1, 'a', 'b', 4]

In [51]:
b_list[2:2] = ['x','y']
print(b_list)

[1, 'a', 'x', 'y', 'b', 4]

In [52]:
b_list[2:5] = []
print(b_list)

[1, 'a', 4]

In [53]:
b_list[1:3] = 'Charlie'
print(b_list)

[1, 'C', 'h', 'a', 'r', 'l', 'i', 'e']

### 3.5 Other Popular Methods
* `count()`: Return number of occurrences of value.
* `index()`: Return first index of value.
* `pop()`: Remove and return item at index (default last). **[Using list as Stack]**
* `reverse()`: Reverse the elements in a list
* `sort()`: Sort the elements in a list

In [54]:
a_list = [2,30,'a',[5,30],30]
print(a_list.count(30))
print(a_list.count([5,30]))

2
1

In [55]:
a_list = [2,30,'a','b','crazyit',30]
print(a_list.index(30))

1

**Start Search from index 2**

In [56]:
print(a_list.index(30,2))

5

**Start Search of index from 2 to 4**

In [57]:
print(a_list.index(30,2,4))

ValueError: 30 is not in list

In [58]:
a_list = list(range(1,8))
a_list.reverse()
print(a_list)

[7, 6, 5, 4, 3, 2, 1]

In [59]:
a_list = [3,4,-2,-30,14,9.3,3.4]
a_list.sort()
print(a_list)

[-30, -2, 3, 3.4, 4, 9.3, 14]

In [60]:
b_list = ['Python','Swift','Ruby','Go','Kotlin','Erlang']
b_list.sort()
print(b_list)

['Erlang', 'Go', 'Kotlin', 'Python', 'Ruby', 'Swift']

**Sort by their length**

In [61]:
b_list.sort(key = len)
print(b_list)

['Go', 'Ruby', 'Swift', 'Erlang', 'Kotlin', 'Python']

In [62]:
b_list.sort(key = len, reverse= True)
b_list

['Erlang', 'Kotlin', 'Python', 'Swift', 'Ruby', 'Go']